@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Preahvihear&display=swap");
* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #212529; }
  .header a {
    color: white; }

.navbar-brand {
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  padding-left: 2rem; }
  .navbar-brand:hover {
    color: #aba4a4; }
  .navbar-brand:focus {
    color: white; }

.navbar-toggler {
  background-color: white; }

.nav-link {
  font-size: 22px;
  padding: 1rem;
  margin: 0 1.5rem; }
  .nav-link:hover {
    color: #aba4a4; }

.collapse.navbar-collapse {
  justify-content: flex-end; }

.dropdown-menu a {
  color: black; }
  .dropdown-menu a:active {
    background-color: #aba4a4;
    color: black; }

.nav-link.dropdown-toggle:focus {
  color: #aba4a4; }
  .nav-link.dropdown-toggle:focus:active {
    color: #aba4a4; }

footer {
  height: 10rem;
  display: flex; }
  footer div {
    background-color: #212529; }
  footer .seccion1-footer {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
    footer .seccion1-footer h3 {
      font-size: 35px;
      font-family: 'Playfair Display', serif;
      margin: 15px 45px;
      color: #e9ecef; }
    footer .seccion1-footer p {
      color: #adb5bd;
      margin: 1px 45px;
      font-size: 19px; }
  footer .seccion2-footer {
    background-color: #212529;
    width: 25%;
    height: 100%; }
    footer .seccion2-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      padding-left: 6rem; }
    footer .seccion2-footer ul {
      width: 100%;
      display: flex;
      justify-content: flex-start; }
      footer .seccion2-footer ul li {
        padding: 1.5rem 2.5rem;
        list-style: none; }
    footer .seccion2-footer .fa-brands.fa-whatsapp {
      font-size: 40px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-whatsapp:hover {
        color: green; }
    footer .seccion2-footer .fa-brands.fa-instagram {
      font-size: 40px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-instagram:hover {
        color: #c01cc0; }
    footer .seccion2-footer .fa-brands.fa-twitter {
      font-size: 40px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-twitter:hover {
        color: #3e88d2; }
  footer .seccion3-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .seccion3-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px; }
    footer .seccion3-footer li {
      color: #adb5bd;
      list-style: none;
      margin-left: -28px;
      font-size: 18px;
      padding-top: 5px;
      text-decoration: none; }
      footer .seccion3-footer li:hover {
        color: white;
        cursor: pointer; }
  footer .seccion4-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .seccion4-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px; }
    footer .seccion4-footer li {
      color: #adb5bd;
      list-style: none;
      margin-left: -28px;
      font-size: 18px;
      padding-top: 5px;
      text-decoration: none; }
      footer .seccion4-footer li:hover {
        color: white;
        cursor: pointer; }

.index-main div {
  height: 70vh;
  background-color: antiquewhite; }
