@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Preahvihear&display=swap");
* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #212529; }
  .header a {
    color: white; }

.navbar-brand {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  padding-left: 2rem; }
  .navbar-brand:hover {
    color: #d0cece; }
  .navbar-brand:focus {
    color: white; }

.navbar-toggler {
  background-color: white; }

.nav-link {
  font-size: 18px;
  padding: .5rem;
  margin: 0 1rem; }
  .nav-link:hover {
    color: #aba4a4; }

.collapse.navbar-collapse {
  justify-content: flex-end; }

.dropdown-menu a {
  color: black; }
  .dropdown-menu a:active {
    background-color: #aba4a4;
    color: black; }

.nav-link.dropdown-toggle:focus {
  color: #aba4a4; }
  .nav-link.dropdown-toggle:focus:active {
    color: #aba4a4; }

footer {
  height: 9rem;
  display: flex;
  overflow: auto;
  position: relative;
  bottom: 0; }
  footer div {
    background-color: #212529; }
  footer .seccion1-footer {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
    footer .seccion1-footer a {
      font-size: 22px;
      font-family: 'Playfair Display', serif;
      margin: 15px 45px -10px;
      color: #e9ecef;
      text-decoration: none; }
    footer .seccion1-footer p {
      color: #adb5bd;
      margin: 1px 45px;
      font-size: 16px; }
  footer .seccion2-footer {
    background-color: #212529;
    width: 25%;
    height: 100%; }
    footer .seccion2-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      font-size: 25px; }
    footer .seccion2-footer ul {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: -0.5rem; }
      footer .seccion2-footer ul li {
        padding: 1.5rem 1.4rem;
        list-style: none; }
    footer .seccion2-footer .fa-brands.fa-whatsapp {
      font-size: 25px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-whatsapp:hover {
        color: green; }
    footer .seccion2-footer .fa-brands.fa-instagram {
      font-size: 25px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-instagram:hover {
        color: #c01cc0; }
    footer .seccion2-footer .fa-brands.fa-twitter {
      font-size: 25px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-twitter:hover {
        color: #3e88d2; }
  footer .seccion3-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .seccion3-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      font-size: 25px; }
    footer .seccion3-footer li {
      color: #adb5bd;
      list-style: none;
      margin-left: -28px;
      font-size: 16px;
      padding-top: 5px;
      text-decoration: none; }
      footer .seccion3-footer li:hover {
        color: white;
        cursor: pointer; }
  footer .seccion4-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .seccion4-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      font-size: 25px; }
    footer .seccion4-footer li {
      color: #adb5bd;
      list-style: none;
      margin-left: -28px;
      font-size: 16px;
      padding-top: 5px;
      text-decoration: none; }
      footer .seccion4-footer li:hover {
        color: white;
        cursor: pointer; }

body {
  background-color: #E9ECEF; }

.index-main {
  background-color: #F8F9FA; }

.banner {
  display: flex;
  justify-content: flex-end;
  background-color: #CED4DA;
  width: 100vw;
  height: auto;
  overflow: hidden; }

.banner img {
  width: 45%;
  opacity: .5;
  margin-top: -3rem; }
  .banner img:hover {
    opacity: .9; }

.texto-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin: auto 9rem;
  font-family: 'Playfair Display', Italic; }
  .texto-banner h3 {
    color: black;
    font-size: 50px;
    font-weight: bold; }
  .texto-banner p {
    color: black;
    font-size: 25px; }
  .texto-banner button {
    background-color: #e22f2f;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    border-color: #e22f2f;
    align-self: flex-start; }
    .texto-banner button:hover {
      transform: scale(1.03);
      transition: .1s; }
    .texto-banner button a {
      text-decoration: none;
      color: white; }

.seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .seccion1 h3 {
    font-family: 'Playfair Display', Italic;
    margin: 3rem auto 1.5rem;
    font-weight: bold; }
  .seccion1 img {
    height: 15rem;
    width: 10rem;
    border-radius: 5px;
    border: transparent; }
  .seccion1 .img-section1 {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .seccion1 .img-section1 span {
      border-radius: 5px;
      margin: 2rem 3rem;
      border: none; }
      .seccion1 .img-section1 span:hover {
        transform: scale(1.03);
        transition: .4s;
        border: none; }
        .seccion1 .img-section1 span:hover button {
          border-radius: 5px;
          background-color: #a5a5a5;
          color: black;
          padding: 4px 5px;
          margin: 2px 0 2px 6px;
          border: none; }
      .seccion1 .img-section1 span button {
        color: #F8F9FA;
        background-color: #F8F9FA;
        border: #F8F9FA;
        padding: 4px;
        margin: 2px 0 2px 6px;
        border-radius: 5px; }
      .seccion1 .img-section1 span p {
        margin: 3px 0 0 4px;
        font-size: 18px; }

.seccion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9ECEF;
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .seccion2 h3 {
    font-family: 'Playfair Display', Italic;
    margin: 3rem auto 1.5rem;
    font-size: 30px;
    font-weight: BOLD; }
  .seccion2 img {
    height: 15rem;
    width: 10rem;
    border-radius: 5px;
    border: transparent; }
  .seccion2 .img-section2 {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .seccion2 .img-section2 a {
      border-radius: 7px;
      margin: 2rem 3rem;
      border: none;
      list-style: none;
      text-decoration: none;
      display: flex;
      flex-direction: column; }
      .seccion2 .img-section2 a:hover {
        transform: scale(1.03);
        transition: .4s;
        border: none; }
      .seccion2 .img-section2 a p {
        margin: auto;
        font-size: 24px;
        font-weight: bold;
        color: #3f3c3c;
        align-self: center; }

.main-nosotros {
  margin: 4rem 10rem;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', Italic;
  line-height: 30px; }
  .main-nosotros h3 {
    align-self: center;
    font-weight: bold; }
  .main-nosotros .seccion1-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem; }
    .main-nosotros .seccion1-nosotros p {
      margin-right: 4rem;
      font-size: 18px; }
    .main-nosotros .seccion1-nosotros img {
      width: 12.5rem; }
  .main-nosotros .seccion2-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem; }
    .main-nosotros .seccion2-nosotros p {
      margin-left: 4rem;
      font-size: 18px; }
    .main-nosotros .seccion2-nosotros img {
      width: 12.5rem; }
  .main-nosotros .seccion3-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem; }
    .main-nosotros .seccion3-nosotros p {
      margin-right: 3rem;
      font-size: 18px; }
    .main-nosotros .seccion3-nosotros img {
      height: 11rem; }

.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-contacto .contenedor-contactanos {
    background-image: url(/img/bombai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px; }
  .main-contacto .contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.6); }
    .main-contacto .contactanos h3 {
      margin-top: 1.5rem; }
    .main-contacto .contactanos label {
      margin: 10px 1px;
      font-size: 18px;
      font-weight: 500; }
    .main-contacto .contactanos input {
      background-color: rgba(249, 249, 249, 0.4);
      border: solid 1px grey; }
    .main-contacto .contactanos textarea {
      background-color: rgba(249, 249, 249, 0.5);
      border: solid 1px grey;
      text-align: center;
      border-radius: 5px;
      font-size: 15px;
      width: 60%; }
      .main-contacto .contactanos textarea::placeholder {
        color: grey; }
    .main-contacto .contactanos .nombre,
    .main-contacto .contactanos .apellido,
    .main-contacto .contactanos .email {
      width: 50%;
      border-radius: 5px;
      font-size: 16px;
      outline: none; }
    .main-contacto .contactanos .btn-contacto {
      margin-bottom: 1rem; }
      .main-contacto .contactanos .btn-contacto .enviar,
      .main-contacto .contactanos .btn-contacto .borrar {
        margin: auto 15px;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgba(203, 203, 200, 0.8); }
    .main-contacto .contactanos .nombre,
    .main-contacto .contactanos .apellido,
    .main-contacto .contactanos .email,
    .main-contacto .contactanos ::placeholder {
      text-align: center; }
  .main-contacto .datos-contacto {
    background-color: #DEE2E6;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    align-items: center; }
    .main-contacto .datos-contacto div {
      display: flex;
      flex-direction: column; }
  .main-contacto .mapa {
    opacity: 0.6; }
    .main-contacto .mapa:hover {
      opacity: 1;
      transition: .5s; }
