@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Preahvihear&display=swap");
* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #212529; }
  .header a {
    color: white; }

.navbar-brand {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  padding-left: 2rem; }
  .navbar-brand:hover {
    color: #d0cece; }
  .navbar-brand:focus {
    color: white; }

.navbar-toggler {
  background-color: white; }

.nav-link {
  font-size: 18px;
  padding: .5rem;
  margin: 0 1rem; }
  .nav-link:hover {
    color: #aba4a4; }

.collapse.navbar-collapse {
  justify-content: flex-end; }

.dropdown-menu a {
  color: black; }
  .dropdown-menu a:active {
    background-color: #aba4a4;
    color: black; }

.nav-link.dropdown-toggle:focus {
  color: #aba4a4; }
  .nav-link.dropdown-toggle:focus:active {
    color: #aba4a4; }

footer {
  height: 9rem;
  display: flex;
  overflow: auto;
  position: absolute;
  bottom: 0; }
  footer div {
    background-color: #212529; }
  footer .seccion1-footer {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
    footer .seccion1-footer h3 {
      font-size: 22px;
      font-family: 'Playfair Display', serif;
      margin: 15px 45px -10px;
      color: #e9ecef; }
    footer .seccion1-footer p {
      color: #adb5bd;
      margin: 1px 45px;
      font-size: 16px; }
  footer .seccion2-footer {
    background-color: #212529;
    width: 25%;
    height: 100%; }
    footer .seccion2-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      font-size: 25px; }
    footer .seccion2-footer ul {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: -0.5rem; }
      footer .seccion2-footer ul li {
        padding: 1.5rem 2rem;
        list-style: none; }
    footer .seccion2-footer .fa-brands.fa-whatsapp {
      font-size: 25px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-whatsapp:hover {
        color: green; }
    footer .seccion2-footer .fa-brands.fa-instagram {
      font-size: 25px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-instagram:hover {
        color: #c01cc0; }
    footer .seccion2-footer .fa-brands.fa-twitter {
      font-size: 25px;
      color: #adb5bd; }
      footer .seccion2-footer .fa-brands.fa-twitter:hover {
        color: #3e88d2; }
  footer .seccion3-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .seccion3-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      font-size: 25px; }
    footer .seccion3-footer li {
      color: #adb5bd;
      list-style: none;
      margin-left: -28px;
      font-size: 16px;
      padding-top: 5px;
      text-decoration: none; }
      footer .seccion3-footer li:hover {
        color: white;
        cursor: pointer; }
  footer .seccion4-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer .seccion4-footer h3 {
      color: #e9ecef;
      font-family: 'Cormorant Garamond', serif;
      padding-top: 10px;
      font-size: 25px; }
    footer .seccion4-footer li {
      color: #adb5bd;
      list-style: none;
      margin-left: -28px;
      font-size: 16px;
      padding-top: 5px;
      text-decoration: none; }
      footer .seccion4-footer li:hover {
        color: white;
        cursor: pointer; }

.index-main {
  background-color: antiquewhite; }

.banner {
  display: flex;
  justify-content: flex-end;
  background-color: #dee4e9;
  width: 100vw;
  height: auto;
  overflow: hidden; }

.banner img {
  width: 45%;
  opacity: .5;
  margin-top: -3rem; }
  .banner img:hover {
    opacity: .8; }

.texto-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto 9rem; }
  .texto-banner h3 {
    color: black;
    font-size: 50px;
    font-weight: bold; }
  .texto-banner p {
    color: black;
    font-size: 25px; }
  .texto-banner button {
    background-color: #a30c0c;
    font-size: 18px;
    padding: 6px;
    border-radius: 8px; }
    .texto-banner button:hover {
      font-size: 18.5px;
      transition: .1s; }
    .texto-banner button a {
      text-decoration: none;
      color: #fffefe; }
