* {
    margin: 0;
    padding: 0; 
}
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Preahvihear&display=swap');

//  VARIABLES





// SECCIONES
@import "../secciones/header.scss";
@import "../secciones/footer.scss";
@import "../secciones/index-main.scss";