footer {
    height: 9rem;
    display: flex;
    overflow:auto;
    position: relative;
    bottom: 0;

    div {
        background-color: #212529;
    }

    .seccion1-footer {
        width: 35%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        h3 {
            font-size: 22px;
            font-family: 'Playfair Display', serif;
            margin: 15px 45px -10px;
            color: #e9ecef;
        }

        p {
            color: #adb5bd;
            margin: 1px 45px;
            font-size: 16px;
        }
    }

    .seccion2-footer {
        background-color: #212529;
        width: 25%;
        height: 100%;

        h3 {
            color: #e9ecef;
            font-family: 'Cormorant Garamond', serif;
            padding-top: 10px;
            display: flex;
            justify-content: center;
            font-size: 25px;


        }

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: -0.5rem;

            li {
                padding: 1.5rem 2rem;
                list-style: none;
            }
        }

        .fa-brands.fa-whatsapp {
            font-size: 25px;
            color: #adb5bd;

            &:hover {
                color: green;
            }
        }

        .fa-brands.fa-instagram {
            font-size: 25px;
            color: #adb5bd;

            &:hover {
                color: rgb(192, 28, 192);
            }
        }

        .fa-brands.fa-twitter {
            font-size: 25px;
            color: #adb5bd;

            &:hover {
                color: rgb(62, 136, 210);
            }
        }

    }

    .seccion3-footer {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3{
            color: #e9ecef;
            font-family: 'Cormorant Garamond', serif;
            padding-top: 10px;
            font-size: 25px;
        }
        li{
            color: #adb5bd;
            list-style: none;
            margin-left: -28px;
            font-size: 16px;
            padding-top: 5px;
            text-decoration: none;
            &:hover{
                color: white;
                cursor: pointer;
            }
        }
    }
    .seccion4-footer {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3{
            color: #e9ecef;
            font-family: 'Cormorant Garamond', serif;
            padding-top: 10px;
            font-size: 25px;
        }
        li{
            color: #adb5bd;
            list-style: none;
            margin-left: -28px;
            font-size: 16px;
            padding-top: 5px;
            text-decoration: none;
            &:hover{
                color: white;
                cursor: pointer;
            }
        }
    }
}